<%- include ('partials/header.ejs') %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Yelpcamp</h1>
            <p>View handpicked camps from all over</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new Campground</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach((campground)=>{ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                </div>
                <div class="caption">
                    <h6>
                        <%=  campground["name"] %>
                    </h6>
                </div>
                
            </div>
        <% }) %>
    </div>
</div>


<%- include ('partials/footer.ejs') %>